- content_for :page_title, "Writings"
- content_for :extra_body_classes, "writings"
- content_for :sidebar do
  .well
    = image_tag "logo_on_grey.jpg"
    = render partial: "partials/subscribe"

- @writers.each do |writer|
  - writer.documents.each do |document|
    %h3= writer_event_title(writer)

    %ul
      - if writer.documents.any?
        %li
          = link_to document.title, writing_path(document)
