- content_for page_title: "Selection of the week"
- content_for :sidebar do
  .well
    = image_tag "logo_on_grey.jpg"
    = render partial: "partials/subscribe"

%H3 SELECTION OF THE WEEK

:markdown

  'If only you could block people in real life'


  Sophie is too loud. 

  Her posture screams:

  I AM AT AN AWARDS CEREMONY

  but most of the time

  she is not at an awards ceremony. 



  She leaves trails of superlatives in her wake

  'amaaaaaaaaaazing' bounce-echoes around the empty bathroom

  as her boots hit the stairs



  she is an asset during the part of parties we all want to avoid 

  she is the ideal audience volunteer at a magic show

  she cries at the theatre and tells you she cried.



  In the late late darkest navy part of the night

  she makes no fear lists

  but she knows some things, just for a second.

  She knows about the neon lights outside that are shining without her

  the chords of songs struck by musicians who haven't met her

  and that nobody is wondering

  what Sophie talks about when she talks about Sophie
