- content_for page_title: "Selection of the week"
- content_for :sidebar do
  .well
    = image_tag 'logo_on_grey.jpg'
    = render partial: "partials/subscribe"

%h3 SELECTION OF THE WEEK

:markdown

  _Karen McCarthy Woolf tweeted a request for me to write about a storm, at around the same time Eddie Redmayne popped into Woolfson and Tay and gave me a line from a script he was reading (‘the water rises, drip, splatter, splash’). I put the two things together and started writing (dropping in another prompt from a customer along the way: ‘dark, damp, mulchy leaves’). It wasn’t until I approached the end of the piece that I connected Eddie’s quote with Alice in Wonderland and the whole thing kind of fitted together..._

  **Storm**

  The house opposite Karen’s is no longer a house; it took only three days to disappear. Karen watched the whole thing: windows cracking, walls tumbling, the waste scooped up by a digger’s claw and dumped into a great dusty pile. Now there's just a hole in the ground. Nothing to see. But still she can’t seem to tear herself away from her bedroom window. 

  People were talking about the storm long before it deigned to show up. Karen has been waiting, and yes, now the rain is thumping down and the wind is roaring, and the water is rising. Drip. Splatter. Splash. 

  She has to go and meet Ross, she's late already, but the rain is getting heavier, slapping the window, spluttering out of the gutters, and the wind is raging fit to break something, and she doesn't want to stop watching as the water rises. Drip. Splatter. Splash.

  He’ll be waiting for her, hunkered by the train station entrance, his hood pulled up, watching the trees cower in the wind. She wonders how long he’ll wait before he calls. She wonders how many times he’ll call before he gives up. She wonders when he’ll duck down into the station and head some place else, on his own.

  The water rises. Drip. Splatter. Splash. The hole is almost full. Drops pock the water’s surface and the wind ruffles its way across.

  She hasn’t left her window since the house started to disappear, but now, Karen stands up and goes outside. Without a coat, without a hat, without shoes. The wind roughs her hair and snatches at her breath. The rain beads her clothes and slicks across her skin. The leaves are dark, damp, mulch between her toes. 

  She has to climb the fence at the end of her garden to get to the hole, which used to be a house, which is full now, overflowing, the water turning the earth into slick, thick mud. 

  She expects the water to be cold, but it isn’t. As she steps in, she thinks of Ross, standing by the train station entrance. He will wait a long time, longer than she ever would. The thought makes her pause, but she is in the hole now and the water is opening up and pulling her down, as though someone has put their hands around each of her ankles and given a firm, but gentle, tug. 

  Like Alice, she thinks, as she sinks, quite slowly. Like Alice, falling down the rabbit hole...


