- content_for page_title: "Selection of the week"
- content_for :sidebar do
  .well
    = image_tag 'logo_on_grey.jpg'
    = render partial: "partials/subscribe"

%h3 SELECTION OF THE WEEK

:markdown

  _This piece was prompted by a Tweet from @9libraries, who asked me to tell someone something important. In the end, I didn’t, but my wayward character Harriet did._

  _The italics below represent requests from online audiences, lines from members of the public, and moments observed._



  Telling someone something important
  -----------------------------------

  There's a Big Issue seller waiting for Harriet outside Habitat on Tottenham Court Road. 

  After the drama of the morning and the interlude in the bookshop, Harriet decided to take a leisurely stroll. From the Wellcome Collection and its friendly bag searchers - _I'd just like to have a poke around_ - she plotted a route and walked it. 

  He is crouching outside the shop, head low, looking into the murky stream of the pavement. That red bib he is wearing, well, it's worn. 

  _"I've got something to tell you,"_ says Harriet to the crown of his head.

  He leaps up, as if caught in the act. What act? What part could he be playing?

  "Will you buy a copy first?"

  "I'd like a real one, not a copy," says Harriet Bardot. What a comedian.

  "Two pounds and fifty pence."

  _"I'll give you three, and I don't want a discussion about the change."_

  "I don't know what you mean." He looks over her shoulder. Does anyone else want a copy? The wind is howling and there's a new construction site opposite. He wants to explore that. Not necessarily with his feet, by treading over broken floorboards and peeling back plastic wrapping, but with his eyes.

  Harriet shoves three coins in his hand and whips her head from side to side.

  _"I want to tell you a secret."_

  "Go on then," says Big Issue.

  "I always fancy homeless people."

  Harriet, Harriet, Harriet. When will she learn?

  She continues. "It's just so exciting. Not knowing where you might sleep. The chill of the night, stroking its fingers along your body. Teeth unclean, hair unbrushed. It's so rugged. And the beards."

  "I think you should go now," says the man who was waiting outside Habitat, illuminated by the Christmas displays that danced across the windows.

  "I think I should stay right here," Harriet replied, happy for the first time that day. "You've got a good spot here. And there's hot air blasting outside. Cosy!" She glances at the shop. "Stay there."

  In Habitat, Harriet fills a basket with _tomato-patterned cushions_ and two sets of festive lights shaped like _wooden sheep on rollers_. She wraps a piece of tinsel around her neck and _pays with a £50 note_.

  On the pavement, the Big Issue seller is talking to a suited man who keeps his hands in his pockets as though afraid of exposing his fingers. 

  Harriet is not deterred. "Look out, sexy!" she calls and proceeds to decorate the man with items suitable for a Christmas tree. "Battery powered!" she screams, excited about the lights. She plonks the cushions on the ground. "Ta da!"

  The man in a suit dashes off.

  Big Issue has a blank face, a moon face, a face with no expression at all. He sighs. "You couldn't have just bought me a blanket?"



