- content_for page_title: "Selection of the week"
- content_for :sidebar do
  .well
    = image_tag "logo_on_grey.jpg"
    = render partial: "partials/subscribe"

%H3 SELECTION OF THE WEEK

:markdown

  Voices. First thing I settle my focus on. The background susurrus, the chatter, distant screams, children's questions. A panoply. I'm taking root in Deptford Lounge— I've been here for the day, working with a handful of emerging writers, writing poetry in response to a selection of texts, poetry collections and anthologies. I'm dizzied. Tipsy on drafts of new-born poems as they've been written into being. It's been a good day. And now, live-writing. I had a thought in mind before the day began— that of reflection. Being the poet/facilitator/editor/educator I am, I feel I don't leave enough space and time for reflection, as much as I know the process of making sense of an experience to be important. And that's what this allows me to do. To step back. Make sense. Even in the attempt to produce something that exists in public space, in full view. 

  It occurs to me that there is no separation between my self and my environment in writing this. I often write in public spaces, but there's a sense of privacy that I create, a way of walling myself off to have the best of both worlds. The way that music serves as a way of zeroing out the chatter— I often write with headphones firmly plugged into my ears, the noise reducing kind. And now I'm painfully aware of the indecipherable voices of the clutch of children that stop a few paces from me, uttering something that makes no sense to me but obviously makes some sense within some common tongue they share. The sound a cleaner makes as he pushes a soft mop across the floor. The sound of feet, not raised, but dragged step by step. I'm connected to it all in a way I so rarely am. This is truly public writing, truly public experience, even without the consideration that someone, somewhere, may well be tracking this rambling thread of thought as it winds from mind through fingers to screen and out into the ether...

  I've been working with a handful of poets today. Pushing them to generate new work, and do so quickly. In the workshop environment, time is always painfully finite; there is no time to sit and ponder, to indulge in perfection. Simply write. Simply do. We so often obsess over the product; indeed, we measure ourselves against it. We "end-game" and the editor creeps in, red pen in hand before a word is written or a phrase is allowed to breathe. And there's something to celebrate here in the idea of trust in the creative process, which is so difficult to explain to anyone who fears creative acts. To simply do, and let the details take care of themselves as you go. Trust that something valuable can come, that you can find further value later, that you can take a word back, put a word forward, but the first thought is the springboard you can leap from and propel yourself to territories even you may not have expected. And that's the same joy here— this live writing. 

  I sat down to this table with no expectation of where I'd end. What I might say. And here it is. A celebration of live-writing in itself. And an ending. 
