.row
  .well
    .row-fluid
      #intro.span12
        .row-fluid
          #intro-logo.span6
            .row-fluid.spaced
              =image_tag "logo_on_grey.jpg", class: "pull-left", style: "width: 180px"
            .row-fluid
              %p
                Molly Naylor is writing live at the Roundhouse, 11.30am-1pm, 1.30-3pm, and 3.30-4.30pm. It’s part of The Last Word, a festival of spoken word and storytelling. 

              %p
                Scroll down to see every keystroke as she writes! 

          #intro-video.span6
            %iframe{src:"//www.ustream.tv/embed/12812910?wmode=direct&autoplay=false", style:"border: 0 none transparent;", frameborder:"no", width:"480", height:"302"}
            %br
            %a.hidden{ href:"http://www.ustream.tv/", style:"padding: 2px 0px 4px; width: 400px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;", target:"_blank"}
              Live streaming video by Ustream

        .row-fluid.hidden
          %p
            What happens when you take the process of writing and turn it into a performance? When writers react, compose and immerse themselves in public places, bringing it alive with the real-time broadcast of their work for all to see?
          %p
            We’re about to find out.
          %p
            It’s literature. It’s improv. It’s the Live Writing Series.
.row
  #viewer.span12

