.row
  .well
    .row-fluid
      #intro.span12
        .row-fluid
          #intro-logo.span6
            .row-fluid.spaced
              =image_tag "logo_on_grey.jpg", class: "pull-left", style: "width: 180px"
            .row-fluid
              %p
                Watch Gemma Seltzer (@gemseltz) as she journeys across London, writing live!
              %p
                From 11am-6pm, she’s taking requests for tasks to carry out and objects to find around the city. Want her to seek out the quickest route to the London Eye? A person wearing a blue striped hat? Twins? She will. And then she'll incorporate the adventures into a new short story.
              %p
                11am-12pm - Shoreditch
                %br/
                1-2pm - Euston
                %br/
                3-4pm - Oxford Circus
                %br/
                5-6pm - Holland Park
          #intro-video.span6
            %iframe{src:"//www.ustream.tv/embed/12812910?wmode=direct&autoplay=false", style:"border: 0 none transparent;", frameborder:"no", width:"100%", height:"302"}
            %br
            %a.hidden{ href:"http://www.ustream.tv/", style:"padding: 2px 0px 4px; width: 400px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;", target:"_blank"}
              Live streaming video by Ustream

        .row-fluid.hidden
          %p
            What happens when you take the process of writing and turn it into a performance? When writers react, compose and immerse themselves in public places, bringing it alive with the real-time broadcast of their work for all to see?
          %p
            We’re about to find out.
          %p
            It’s literature. It’s improv. It’s the Live Writing Series.
.row
  #viewer.span12

