.row
  .well
    .row-fluid
      #intro.span12
        .row-fluid
          #intro-logo.span4
            .row-fluid.spaced
              =image_tag "logo_on_grey.jpg", class: "pull-left", style: "width: 180px"
            .row-fluid
              %p
                Watch author, poet and footie-fan Joe Dunthorne write live here today!

              %p
                He’ll be in residence in the Jewish Museum’s Four Four Two exhibition from 11am-5pm,
                asking for your ideas that he’ll incorporate into new pieces of work.

              %p
                Pop down to the museum to offer your football-related suggestions, or send a request through the website.

              %p
                Scroll down to watch Joe write, keystroke by keystroke.
          #intro-video.span6.offset1
            %iframe{src:"//www.ustream.tv/embed/12812910?wmode=direct&autoplay=false", style:"border: 0 none transparent;", frameborder:"no", width:"480", height:"302"}
            %br
            %a.hidden{ href:"http://www.ustream.tv/", style:"padding: 2px 0px 4px; width: 400px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;", target:"_blank"}
              Live streaming video by Ustream

        .row-fluid.hidden
          %p
            What happens when you take the process of writing and turn it into a performance? When writers react, compose and immerse themselves in public places, bringing it alive with the real-time broadcast of their work for all to see?
          %p
            We’re about to find out.
          %p
            It’s literature. It’s improv. It’s the Live Writing Series.
.row
  #viewer.span12

