.well.frontpage-header
  .row-fluid
    .logo-panel.span3
      =image_tag "logo_on_grey.jpg"
      = render partial: 'partials/subscribe'
    .text.span9
      :markdown
        What happens when you take the process of writing and turn it into a performance? When writers react, compose and immerse themselves in public places, bringing it alive with the real-time broadcast of their work for all to see?

        We’re about to find out.

        This autumn, seven of the most exciting wordsmiths, poets, scriptwriters and novelists in town will be housed in seven locations across London. You can catch every keystroke, dramatic pause and perfectly crafted sentence as it happens here online. You'll also have the chance to make requests and suggest ideas that may become part of the live piece.

        Events will be held in venues all across London, with the Deptford Lounge, Jewish Museum, National Portrait Gallery, Roundhouse, Southbank Centre along with Woolfson &amp; Tay each opening their doors to one courageous writer.

        It’s literature. It’s improv. It’s the Live Writing Series.

        **The next event sees Gemma Seltzer writing London-wide on Thursday 7 November**
    

.row-fluid
  .span12
    %h3 Our last event: David Varela, National Portrait Gallery
.row-fluid
  .item-preview.span4
    %h3 Interview with a writer
    %p
      The Live Writing Series launched last week to thrilled crowds during the National Portrait Gallery’s Elizabethan Undressed event. In an evening of doublets and hose, fine words flew from David Varela’s fair fingers via his laptop and onto a wall, entertaining an audience of over 3,000 people in the process. We caught up with ‘scribe in residence’ David Varela to ask him about his experience of writing in public.
    %p
      = link_to "Read the interview", page_path("interviews/david_varela")
  .item-preview.span4
    %h3 Selection of the Week
    %p
      %em I’ve edited a poem that I composed during my live writing session. It’s a great example of different ideas colliding in a way I could never have predicted: Lydia Nicholas asked me for a love poem about a futurist while I was standing in a gallery surrounded by Elizabethan art. The result is a Shakespearean sonnet about graphene.
    %p
      = link_to "Read on...", page_path('selections/week1')
  .item-preview.span4
    = image_tag "events/npg_wall.jpg", class: "img"


