.well.frontpage-header
  .row-fluid
    .logo-panel.span3
      =image_tag "logo_on_grey.jpg"
      = render partial: 'partials/subscribe'
    .text.span9
      :markdown
        What happens when you take the process of writing and turn it into a performance? When writers react, compose and immerse themselves in public places, bringing it alive with the real-time broadcast of their work for all to see?

        We’re about to find out.

        It’s literature. It’s improv. It’s the Live Writing Series.
        
        **The next event sees Joe Dunthorne writing at the Jewish Museum on Wednesday 13 November** 

.row-fluid.hidden
  .span12
    %h3 Our last event: Gemma Seltzer, in London
.row-fluid
  .item-preview.span4
    %h3 Interview with a writer
    %p
      The Live Writing Series launched last week to thrilled crowds during the National Portrait Gallery’s Elizabethan Undressed event. In an evening of doublets and hose, fine words flew from David Varela’s fair fingers via his laptop and onto a wall, entertaining an audience of over 3,000 people in the process. We caught up with ‘scribe in residence’ David Varela to ask him about his experience of writing in public.
    %p
      = link_to "Read the interview", page_path("interviews/david_varela")
  .item-preview.span4
    %h3 Selection of the Week
    %p
      %em Karen McCarthy Woolf tweeted a request for me to write about a storm, at around the same time Eddie Redmayne popped into Woolfson and Tay and gave me a line from a script he was reading (‘the water rises, drip, splatter, splash’). I put the two things together and started writing (dropping in another prompt from a customer along the way: ‘dark, damp, mulchy leaves’). It wasn’t until I approached the end of the piece that I connected Eddie’s quote with Alice in Wonderland and the whole thing kind of fitted together...
    %p
      = link_to "Read on...", page_path('selections/week2')
  .item-preview.span4
    = image_tag "events/npg_wall.jpg", class: "img"


