.well.frontpage-header
  .row-fluid
    .logo-panel.span3
      =image_tag "logo_on_grey.jpg"
      = render partial: 'partials/subscribe'
    .text.span9
      :markdown
        What happens when you take the process of writing and turn it into a performance? When writers react, compose and immerse themselves in public places, bringing it alive with the real-time broadcast of their work for all to see?

        We’re about to find out.

        It’s literature. It’s improv. It’s the Live Writing Series.
        
        **The next event sees Joe Dunthorne writing at the Jewish Museum on Wednesday 13 November** 

.row-fluid
  .span12
    %h3 Our last event: Gemma Seltzer, in London
.row-fluid
  .item-preview.span4
    %h3 Selection of the Week
    %p
      %em This piece was prompted by a Tweet from @9libraries, who asked me to tell someone something important. In the end, I didn’t, but my wayward character Harriet did. The italics below represent requests from online audiences, lines from members of the public, and moments observed...
    %p
      = link_to "Read on...", page_path('selections/week3')
  .item-preview.span4
    %h3 Interview with a writer
    %p
      Gemma Spencer is a London-based writer working online, live and in print. See what she thought of her day spent wandering around London, being directed by the viewing public. 
    %p
      = link_to "Read the interview", page_path("interviews/gemma_seltzer")
  .item-preview.span4
    = image_tag "events/ldn_gemma.jpg", alt: "Gemma Seltzer writing on her laptop in a cafe", class: "img"


