.well.frontpage-header
  .row-fluid
    .logo-panel.span3
      =image_tag "logo_on_grey.jpg"
      = render partial: 'partials/subscribe'
    .text.span9
      :markdown
        What happens when you take the process of writing and turn it into a performance? When writers react, compose and immerse themselves in public places, bringing it alive with the real-time broadcast of their work for all to see?

        We’re about to find out.

        It’s literature. It’s improv. It’s the Live Writing Series.

        **The next event sees Molly Naylor writing live at the Roundhouse as part of the Last Word festival on 30 November.**

.row-fluid
  .span12
    %h3 Our last event: Jacob Sam-La Rose, writing from the Deptford Lounge
.row-fluid
  .item-preview.span4
    %h3 Selection of the Week
    %h4 By Gemma Seltzer
    %p
      %em This piece was prompted by a Tweet from @9libraries, who asked me to tell someone something important. In the end, I didn’t, but my wayward character Harriet did. The italics below represent requests from online audiences, lines from members of the public, and moments observed...
    %p
      = link_to "Read on...", page_path('selections/week3')
  .item-preview.span4
    %h3 Interview with a writer
    %p
      The live writing event at the Deptford Lounge was a little different. Instead of one author spending the day writing, Jacob Sam-La Rose led a group of poets – the Podium Poets – as they each took turns writing a series of live pieces. We spoke to Jacob and Podium Poet Deanna Rodger about the whole experience.
    %p
      = link_to "Read the interview", page_path("interviews/joe_dunthorne")
  .item-preview.span4
    = image_tag "events/jm_joe.jpg", alt: "Joe Dunthorne on a laptop, football scarves line the wall in the background", class: "img"


