.well.frontpage-header
  .row-fluid
    .logo-panel.span3
      =image_tag "logo_on_grey.jpg"
      = render partial: 'partials/subscribe'
    .text.span9
      :markdown
        What happens when you take the process of writing and turn it into a performance? When writers react, compose and immerse themselves in public places, bringing it alive with the real-time broadcast of their work for all to see?

        We’re about to find out.

        It’s literature. It’s improv. It’s the Live Writing Series.
        
        **The next event sees Joe Dunthorne writing at the Jewish Museum on Wednesday 13 November** 

.row-fluid
  .span12
    %h3 Our last event: Gemma Seltzer, in London
.row-fluid
  .item-preview.span4
    %h3 Selection of the Week
    %p
      %em Karen McCarthy Woolf tweeted a request for me to write about a storm, at around the same time Eddie Redmayne popped into Woolfson and Tay and gave me a line from a script he was reading (‘the water rises, drip, splatter, splash’). I put the two things together and started writing (dropping in another prompt from a customer along the way: ‘dark, damp, mulchy leaves’). It wasn’t until I approached the end of the piece that I connected Eddie’s quote with Alice in Wonderland and the whole thing kind of fitted together...
    %p
      = link_to "Read on...", page_path('selections/week2')
  .item-preview.span4
    %h3 Interview with a writer
    %p
      Novelist Sarah Butler spent a day writing live in Woolfson &amp; Tay bookshop. She knew to expect the unexpected - but how did she cope with the exposure of her writing process, the introduction of some toy rabbits and a visit from an A-list movie star?
    %p
      = link_to "Read the interview", page_path("interviews/sarah_butler")
  .item-preview.span4
    = image_tag "events/wt_sarah.jpg", alt: "Sarah Butler at Woolfson&Tay with Eddie Redmayne", class: "img"


