.well.frontpage-header
  .row-fluid
    .logo-panel.span3
      =image_tag "logo_on_grey.jpg"
      = render partial: 'partials/subscribe'
    .text.span9
      :markdown
        What happens when you take the process of writing and turn it into a performance? When writers react, compose and immerse themselves in public places, bringing it alive with the real-time broadcast of their work for all to see?

        We’re about to find out.

        This autumn, seven of the most exciting wordsmiths, poets, scriptwriters and novelists in town will be housed in seven locations across London. You can catch every keystroke, dramatic pause and perfectly crafted sentence as it happens here online. You'll also have the chance to make requests and suggest ideas that may become part of the live piece.

        Events will be held in venues all across London, with the Deptford Lounge, Jewish Museum, National Portrait Gallery, Roundhouse, Southbank Centre along with Woolfson &amp; Tay each opening their doors to one courageous writer.

        It’s literature. It’s improv. It’s the Live Writing Series.

        **The next event sees Sarah Butler writing at Woolfson &amp; Tay on Friday 1 November**
    

.row-fluid
  .span12
    %h3 Our last event: David Varela, National Portrait Gallery
.row-fluid
  .span4
    %h3 Interview with a writer
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  .span4
    %h3 Selection of the Week
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .span4
    = image_tag "events/npg_wall.jpg", class: "img"


