- content_for :page_title, "Contact"
- content_for :extra_body_classes, "contact"

- content_for :sidebar do
  = render partial: "partials/subscribe"

.row-fluid.pull-down
  %p
    Want to get in touch?
    %br
    Use the form below to send us a message and we’ll get right back to you.

  %p
    Alternatively, you can
    %a{ href: "javascript:$('input#subscription_email').focus()" }sign up to our mailing list
    for regular updates on the whole Live Writing Series.

    - @feedback = Feedback.new
    = render partial: "feedbacks/form"
