- content_for :page_title, "Gallery"
- content_for :extra_body_classes, "gallery"
- content_for :javascript do 
  :javascript
    $('.image-gallery').magnificPopup({
    type: 'image',
    gallery:{enabled:true},
    delegate: 'a', // child items selector, by clicking on it popup will open
    
    });
%h1 Photo Gallery



.image-gallery.container
  - (1..34).each do |n|
    .image.span3
      = link_to image_url("http://s3.amazonaws.com/HundredHours/gallery_images/#{n}.JPG") do
        = image_tag "http://s3.amazonaws.com/HundredHours/gallery_thumbnails/#{n}.JPG"
