- content_for :page_title, "Home"
.row
  .well
    .row-fluid
      #intro.span12
        .row-fluid
          #intro-logo.span6
            =image_tag "logo_on_grey.jpg", class: "pull-left"
          #intro-video.span6{ style: "margin-left: 0px" }
            %iframe{src:"//www.ustream.tv/embed/12812910?wmode=direct&autoplay=false", style:"border: 0 none transparent;", frameborder:"no", width:"480", height:"302"}
            %br
            %a{ href:"http://www.ustream.tv/", style:"padding: 2px 0px 4px; width: 400px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;", target:"_blank"}
              Live streaming video by Ustream

        .row-fluid.hidden
          %p
            What happens when you take the process of writing and turn it into a performance?

          %p
            When writers react, compose and immerse themselves in public places, bringing it alive with the real-time broadcast of their work for all to see?

          %p
            We’re about to find out.
.row
  #viewer.span12

