- content_for :page_title, "Home"
.row
  .well
    .row-fluid
      #intro.span12
        .span3
          =image_tag "logo_on_grey.jpg"

        #intro-copy.span9
          %p
            What happens when you take the process of writing and turn it into a performance?

          %p
            When writers react, compose and immerse themselves in public places, bringing it alive with the real-time broadcast of their work for all to see?

          %p
            We’re about to find out.
.row
  #viewer.span12

