.row
  #intro.span12

    #video-stream-wrapper
      placeholder

    #intro-copy
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %p
        This website was originally built to raise money for
        <a href="http://www.arvonfoundation.org/">Arvon</a>
        You can see the documents I wrote for that below.

      %p.call-to-action
        = link_to "What do you think?", page_path('feedback'), class: 'btn btn-success'
.row
  #viewer.span12

