- content_for :page_title, "Interviews : Daljit Nagra"
- content_for :extra_body_classes, "interview"
- content_for :sidebar do
  .well
    = image_tag 'logo_on_grey.jpg'
    = render partial: "partials/subscribe"

.row-fluid
  %h3{style: "margin-top: 18px" } An Interview with Daljit Nagra

  %ol.interview
    %li.question
      What were your expectations of live writing?
      .answer
        %p
          I assumed I’d have to spontaneously produce poetry. As I haven’t written new material in a workshop session, or to demand in a few minutes, for over a decade I was terrified I may have lost the knack. The session lived up to my expectation of having to produce poems in quick succession and I was pleased by the many helpful suggestions from the public that encouraged my creativity.

    %li.question
      How different was it from a normal writing day for you?
      .answer
        %p
          I never write to order and if I’m commissioned to write a poem I spend several months working on a text. So this sitting in a public space and being the focus of expectation was highly unusual for me. I normally write in snatches – a half here or there. I rarely spend more than an hour just working on my poetry. In some ways, the four hour session helped to connect me back to working in a grand concentrated manner. I need to find four hour slots in which to do write!

    %li.question
      What was the best moment?
      .answer
        %p
          The best moment happened about five times. Each time I felt I the emergence of a poem I felt relieved and excited. Relieved that my creativity was functioning, excited that the written piece might be good enough for my next poetry collection. I think one of the pieces might work for my next collection; I’ll show it to my editor at some point. The really amazing moment was meeting people who had no relationship to poetry whatsoever and who found themselves making suggestions for a poem and then finding I’d written them a poem. I hope they’ll feel poetry is a normal living activity not only involving bald men a few hundred years ago.

    %li.question
      Your poetry readings are always wonderfully animated. How does writing live, on screen and on webcam, compare with that kind of performance? 
      .answer
        %p
          This was a performance, for sure. Several members of the public suggested ideas for a poem and I told them to come back in a bit and see if I’ve written a poem. Three members of the public returned to find I’d written a poem based on their thoughts. Instead of feeling in control in one of my usual readings where the audience sits quietly I was mindful the audience was a participant and I had to respect their vision. I don’t know if the people who inspired my poems liked the pieces but they seemed happy that I had included their names in the poem.

    %li.question
      Finish this sentence. If live writing were an animal, it would be...
      .answer
        %p
          \...a chameleon because I’d have to constantly adapt to the knowledge requirements of the poems and the different styles required of me.  


.row-flow
  = image_tag "writers/daljit_nagra.jpg", class: "img", style: "margin: 25px;"
