- content_for :page_title, "Interviews :: David Varela"
- content_for :extra_body_classes, "interview"
- content_for :sidebar do
  .well
    = image_tag 'logo_on_grey.jpg'
    = render partial: "partials/subscribe"

.row-fluid
  %h3{style: "margin-top: 18px" } An Interview with David Varela

  %ol.interview
    %li.question
      You were writing stories in the presence of Her Majesty Elizabeth I. Will you look back on that as the best moment in your life?

      .answer
        %p
          It was definitely one of the most intimidating. There’s an edge of fear to writing for a live audience, and even more so when it’s the hallowed halls of a national gallery. Everything I was doing was suddenly Art. 
        %p
          Well, I suppose we’re being supported by the Arts Council so we’re already artists. I’m just not used to the capital A.


    %li.question
      What was the highlight of the evening?

      .answer
        Towards the end of the night, when the crowd was starting to thin out, I was able to see the person who’d commissioned the piece I was writing as she looked up at the screen where it was projected, and she was laughing along and putting her hand over her mouth and finally taking photos of her piece of work up there, on the wall of the gallery. And because it was the last piece of the night, she came over and said thank you and we had a funny, sweet chat about what I’d written. It was the best kind of audience interaction. 


    %li.question
      Most odd request?

      .answer
        “On the Nobility of Otters.” Although the girls who asked for a Greek tragedy about Anne Boleyn were pushing the boundaries of the expected too.


    %li.question
      Is live writing better than sitting at home alone at your desk?

      .answer
        %p
          It’s certainly more productive. In four hours, I wrote 22 different pieces and 3,500 words, while still finding time to stop and talk and sort through all the requests coming in on paper and online. I had far more requests than I could handle, and around 4,000 people milling about in that hall. There was so much to assimilate and so much to write. It was like whitewater rafting on the stream of consciousness. 

        %p
          So I’d recommend it for short periods, but if you want to write every day, your desk at home is still the safest place for it. 


    %li.question
      Any top tips for the writers up next? What are the most important attributes for excellent live writing?
      .answer
        Be open to ideas, focus hard when you can, and be prepared for some heckling. 

.row-flow
  = image_tag "events/npg_david.jpg", class: "img span12"
