- content_for :page_title, "Interviews : Gemma Seltzer"
- content_for :extra_body_classes, "interview"
- content_for :sidebar do
  .well
    = image_tag 'logo_on_grey.jpg'
    = render partial: "partials/subscribe"

.row-fluid
  %h3{style: "margin-top: 18px" } An Interview with Gemma Seltzer

  %ol.interview
    %li.question
      You&rsquo;d seen a couple of live writing events before yours. Did they reassure you or make you more nervous?
      .answer
        %p
          Both David Varela&rsquo;s event in front of a constant stream of thousands of people, and Sarah Butler&rsquo;s more intimate session with a quieter crowd necessitated stamina and courage from the writers. I was nervous that I wouldn&rsquo;t last from morning to evening, wouldn&rsquo;t find enough material to inspire, and that I would freeze in front of my online audience. Happily, after my first story was complete, I found a good rhythm and also that I had plenty to say!

    %li.question
      You&rsquo;ve talked to strangers in previous writing projects. How did this experience differ?
      .answer
        %p
          My first digital writing project, 
          %em Speak to Strangers, 
          involved chatting to members of the public over one hundred days and writing very short stories directly from the experience. For the 
          %em Live Writing Series, 
          which also included random interactions with people,  the strangers were just one part of the experience. I also used the sights and sounds of the places I visited, the notes and comments from audiences online, and the rhythms of walking and moving through the city as the basis for my writing. 

    %li.question
      You covered a lot of ground on your trek across London. What was your favourite writing spot?
      .answer
        %p
          I loved the sense of the city changing from place to place, each location offering a new perspective for me. I enjoyed the quirky pub I found in Holland Park. The music was too loud, the lights too low, and the clientele too boisterous. At 5pm, people were finishing work and relaxing. It was a place that was in no way conducive to creating stories live, but I enjoyed the challenge of writing at odds to my surroundings.

    %li.question
      Did you feel like you were writing in public or writing in secret?
      .answer
        %p
          Both, at different times. I did have some signs that I propped up showing the project logo, and a note that said. &ldquo;I&rsquo;m writing a story. Tell me what should happen next.&rdquo; In other moments, I let the people around me know what I was doing, showed them the website and invited them to respond. Without a big screen nearby, I was able to write more freely perhaps, than some of the other writers will.

    %li.question
      Favourite moment?
      .answer
        %p
          Someone tweeted &lsquo;Harriet Bardot&rsquo; as a character&rsquo;s name, which evoked an elegant, haphazard sort of person in my mind. She ended up in all of the stories, stumbling through her life. And also, in the Wellcome Collection, I shared a table with two scientists. Towards the end, one even dashed to the bookshop and selected titles I could incorporate into the piece. Our conversation offered colour and much liveliness to my stories.

    %li.question
      Is there anything you&rsquo;d do differently next time?
      .answer
        %p
          Maybe for longer! I found it productive and inspiring. I must be a secret exhibitionist, because I quite liked the webcam recording. It would be interesting to have at least one of the locations with a big screen linked up, so I could dip into writing live for an hour in both public and online, before swiftly typing the final full stop and packing up to head to the next place.
