- content_for :page_title, "Interviews : Jacob Sam-La Rose"
- content_for :extra_body_classes, "interview"
- content_for :sidebar do
  .well
    = image_tag "logo_on_grey.jpg"
    = render partial: "partials/subscribe"

.row-fluid
  %h3{style: "margin-top: 18px" } An Interview with Jacob Sam-La Rose and Deanna Rodger 

  %ol.interview
    %li.question
      How did the live writing process differ from your normal practice?
      .answer
        %p
          JSLR: Not a great deal, not the way we actually managed the live-writing
          workshop. It became about writing freely, which is part of my process anyway.
          I do appreciate the potential, for the live-writing process, however, if framed in a 
          different way. For example, we had he screen set up in our room that initially would 
          have captured the 'live' aspect of what was being done, and would have placed some 
          interesting psychological challenges on the writer (heightened awareness of an audience, etc.).
        %p
          DR: It was muchmore instant. Plus writing on a computer means that you can't scribble
          around your writing. I was keen that people would be able to read it how I needed them
          to read it, as I was aware that I wouldn't get a chance to say it.
        %p
          DT: It didn't really differ; I wrote in the same way.
          I guess the difference is that I didn't go back and edit, but there 
          was something really freeing about just getting the words on the page
          and not over thinking it too much. 
        %p
          JSLR: It would have been interesting to see if there was anything that could be
          done with pen and paper responses from other people in the room based on what
          they were seeing on-screen...
    %li.question
      Did you have a sense that there was an audience?
      .answer
        %p
          JSLR: No! When I locked into the writing, it was a relationship between me, my
          thoughts, and the screen. I carried on regardless.
        %p
          DT: A little bit which was quite strange! My mum was texting me to say
          she was watching it, so I had the sense of her there. 
        %p
          DR: Yes and no. I tried to forget that it was live as that was a distraction.
    %li.question
      Did you enjoy it?
      .answer
        %p
          DT: Yes! It was really cool to feel like a part of a community in a way.
          Writing can be quite a lonely process so to have that interaction and
          to open up a dialogue was really exciting.
        %p
          DR: Very much so.
        %p
          JSLR: Yes!
    %li.question
      Do you think it’s harder to write poetry live than prose?
      .answer
        %p
          JSLR: To an extent, possibly, but it's a matter of how the challenge is managed.
          I can imagine that an awareness of an audience might be off-putting to some,
          but with that fear put aside, and with the sense that live writing captures the 
          writing process warts and all, it's not such a problem. I think, with the way that
          we engaged with the process, there wasn't a specific challenge to produce a 
          finished piece within a finite period of time. I can imagine it being different for
          a poest who's managing the perceived expectations of an audience that's specifically
          gathered to see what they produce by the end of the allotted session...
          %br/
          %br/
          Also, to be fair, I didn't write poetry in my slot, so my experience may have been 
          different from my participants'...
        %p
          DR: I have never written prose live before and am quite comfortable writing poetry live.
        %p
          DT: I think it would be the same. I suppose with poetry you think about
          the rhythm and sound maybe slightly more, but once you get into a poem,
          I think that comes naturally in the same way you get into writing a story.
    %li.question
      Are you a fan of technology? Do you think it helps or hinders the writing process?
      .answer
        %p
          DR: I am a fan. I think it does both. Sometimes I find it easier to use a notebook
          and pen, other times easier and quicker to use a device.
        %p
          JSLR: Yes. As with all tools, I think technology can help, depending on how it's 
          used or engaged with.
        %p
          DT: I love that technology opens things up; it's so easy to create a
          conversation now with almost anyone.
          I like the idea of using an audience in the writing process;
          it adds voices and dialogue and changes things up. Writing is a way 
          of describing a world on paper, and it makes sense to include our
          surroundings and other voices, in order to understand that world better.
