- content_for :page_title, "Interviews : Molly Naylor"
- content_for :extra_body_classes, "interview"
- content_for :sidebar do
  .well
    = image_tag 'logo_on_grey.jpg'
    = render partial: "partials/subscribe"

.row-fluid
  %h3{style: "margin-top: 18px" } An Interview with Molly Naylor

  %ol.interview
    %li.question
      Describe your approach to the project.
      .answer
        %p
          I decided to use the project to explore ideas around our social media personas and what they say about us. I wanted to come to the day with an idea and theme so that I had a tangible goal and a way in which to involve the audience.  


    %li.question
      What kind of preparation did you do?
      .answer
        %p
          To prepare, I collated a bunch of social media posts via an email call-out to my friends, and through my own social media feeds. My intention was to use these as stimulus on the day and to write short pieces in response. Other than this I was keen not to prepare too much in terns of what I might write, as I felt this wasn't fitting with the spirit of the piece.

    %li.question
      How did it go? 
      .answer
        %p
          I was quite nervous and found starting very difficult. At this point I decided to write an intro before launching into the pieces. This helped, although what I actually wrote for it was largely nonsense. But it helped me realise that this was okay. No one was marking me. 

    %li.question
      Do you prefer stage, page or screen as a medium for your writing?
      .answer
        %p
          Normally I write for stage, screen and radio. This felt closer to writing for the page. Even though I barely edited it and I am not particularly proud of anything I wrote, the live aspect of it wasn't so much in my mind. There were people in the space who were interested but only for short periods of time, and I didn't feel connected to the live online stream. 

    %li.question
      Finish this sentence. “If live writing were an animal, it would be...”
      .answer
        %p
          If live writing were an animal, it would be a chameleon. Surprising and interesting. 

.row-flow
  = image_tag "writers/molly_naylor.jpg", class: "img"

