- content_for :page_title, "Interviews : Sarah Butler"
- content_for :extra_body_classes, "interview"
- content_for :sidebar do
  .well
    = image_tag 'logo_on_grey.jpg'
    = render partial: "partials/subscribe"

.row-fluid
  %h3{style: "margin-top: 18px" } An Interview with Sarah Butler

  %ol.interview
    %li.question
      Tell us how you approached the live writing day.
      .answer
        %p
          I wanted to do something that was specific to the space I was writing in, so in the week before the event I asked staff at Woolfson and Tay to get customers to select a line from a book, or write down something that they’d seen, heard or smelt in the vicinity of the bookshop. That meant I had a nice collection of prompts to start off the day with.

    %li.question
      How did it feel to have your readers watch as you write?
      .answer
        %p
          Really quite strange. I felt the pressure to make something happen on the page! I’m not very good at being put on the spot, so sometimes I felt I was struggling to come up with ideas and hold onto thoughts.

    %li.question
      Best moment?
      .answer
        %p
          Karen McCarthy Woolf gave me a prompt via Twitter, which I combined with a prompt from Eddie Redmayne (who’s a regular at Woolfson and Tay). Karen was tweeting responses to the story as I wrote it, which was really fun.

    %li.question
      How did the rabbits come hopping into your stories?
      .answer
        %p
          I met a lovely girl called Celeste, who was in the bookshop with her family, and asked her for a prompt. She told me about her four toy rabbits, Rose, Rabby, Snowflake and Nibbles and I started imagining what they were up to while Celeste was out. The whole family chipped in with ideas as I wrote the story.

    %li.question
      Many authors write naked. Do you have any strange writing habits that you couldn’t share in public?
      .answer
        %p
          Heavens, my house is far too cold for any naked writing! I write in my pyjamas and layers of horrible jumpers, which I wouldn’t wear in public. Maybe it’s not that strange, but I do read aloud a lot when I write, which I find really helpful for 
.row-flow
  = image_tag "events/wt_sarah.jpg", class: "img span12"
