@import _base

#video-stream
  float: left
  margin: 15px 20px 15px 15px

#intro
  background: #fff
  border: thin solid #ccc
  border-radius: 5px
  margin-bottom: 20px
  font-size: 18px
  font-family: $serif
  line-height: 28px

  p
    margin-bottom: 15px
  
  p.call-to-action
    margin-top: 20px
    text-align: center
    a
      font-family: $sans
      padding: 10px 30px
      font-size: 18px


  a.donate
    margin: 10px 10px
    padding: 50px 0px
    text-align: center
    font-size: 30px

  #intro-copy
    margin: 14px 15px 0px 15px
    


    p.test
      color: #f00

  +clearfix


/* Landscape phones and down */
@media (max-width: 767px)
  #video-stream
    float: none
    clear: both
    margin-left: 0px
    margin-right: 0px
  #video-stream-wrapper
    text-align: center

/* Landscape phones and down */
@media (max-width: 480px)
  #video-stream
    width: 278px
    height: 180px






