///////////////////////////////////////////////////////////////////////////////

@import bourbon
@import bootstrap_and_overrides
@import _base
@import intro
@import document_viewer

///////////////////////////////////////////////////////////////////////////////

body
  font-family: $sans

.static-content
  +border-radius(4px)
  border: thin solid #ccc
  background: white
  padding: 0px 20px 20px 20px
  font-size: 18px
  font-family: $serif
  line-height: 32px

  h1
    margin-bottom: 20px
  h2
    margin: 20px 0
  p
    line-height: 30px

  form
    margin-top: 30px

