#flash
  - flash.each do |key, value|
    %div.alert{ id: "flash_#{ key }", class: (key.to_s == "notice" ? "alert-info" : "") }
      %button.close{ type: "button", :"data-dismiss" => "alert" } &times;
      = value
