<div id="active-document-view">
  <div id="active-tag" class="btn btn-primary disabled">Live</div>
  <h1> {{{ activeDocument.title }}} </h1>

  <div id="active-document-body">
    {{{ activeDocument.body }}}
  </div>
</div>
