{{#link-to 'documents.index'}}
  <div id="active-document-view" class="background">
    <div id="active-tag" class="btn btn-primary"><i class="icon-arrow-left icon-white"></i>View live document</div>
    <h1>  {{{ activeDocument.title }}} </h1>
  </div>
{{/link-to}}.
<div id="selected-document-view">
  <h1> {{{ title }}} </h1>
  <div id="active-document-body">
    {{{ body }}}
  </div>
</div>
